    <nav class="border-b-gris border-b-2 h-auto dark:bg-negro text-grisLetra flex dark:border-b-white dark:border-b-2">
        <div class="h-16 w-3/6 flex items-center">
            <form action="/search">
                <input class="w-25 border-2 border-gris rounded-full h-8 m-3 outline-none p-2 dark:border-none dark:bg-fondoClaro" type="text" name="query" placeholder="Buscar...">
            </form>
            <span class="justify-center w-24 ml-8 font-medium text-lg h-full items-center flex duration-300 hover:text-verdeLetra hover:cursor-pointer hover:bg-verdeClaro hover:border-b-4 hover:border-verdeLetra">En venta</span>
            <span class="justify-center w-24 font-medium text-lg h-full items-center flex duration-300 hover:text-verdeLetra hover:cursor-pointer hover:bg-verdeClaro hover:border-b-4 hover:border-verdeLetra">Tradeo</span>
            <span class="justify-center w-24 font-medium text-lg h-full items-center flex duration-300 hover:text-verdeLetra hover:cursor-pointer hover:bg-verdeClaro hover:border-b-4 hover:border-verdeLetra">Inventario</span>
        </div>
        <div class="w-3/6 flex justify-end items-center" id="toggle">
            <!-- <div class= "mt-2 mr-4 border-solid border-2 border-gris duration-500 dark:bg-negrito dark:border-none" id="button">
                <i class="fa-sharp fa-solid fa-sun" id="sun"></i></span>
                <i class="fa-solid fa-moon" id="mooon"></i></span>
            </div> -->
            <span class="mr-8">Hola a todos</span>
        </div>
    </nav>

