<div class="h-4/5 flex flex-col items-end justify-between mr-2">
    <span class="text-verdeClaro font-bold">$55,5</span>
    <div class="flex flex-row items-center">     
        <p class="text-verdeClaro font-bold">4,5</p>
        <img class="h-8 w-8" id="estrella" src="../imagenens/Imagenes-funcionales/ESTRELLA.svg" alt="">
    </div>    
</div>
<div class="h-1/5 border-t-2 border-gris flex items-center justify-center text-gris">
    <span>#hastash</span>
    <span class="ml-2">#sadasda</span>
</div>