<h2 class="mt-4 text-verdeLetra font-bold text-xl">FILTROS</h2>
<p class="mt-4 text-base text-grisLetra">PRECIO</p>
<form class="flex justify-center items-center flex-col" action="">
    <label for="precio-desde"></label>
    <input class="outline-none mt-2 pl-3 w-48 h-10 border-gris border-2 rounded-full text-xs dark:bg-negrito dark:border-none dark:text-white" type="text" name="precio-desde" placeholder="DESDE">
    <br>
    <label for="precio-hasta"></label>
    <input class="outline-none mt-3 pl-3 w-48 h-10 border-gris border-2 rounded-full text-xs dark:bg-negrito dark:border-none dark:text-white" type="text" name="precio-hasta" placeholder="HASTA">
</form>
<h2 class="mt-4 text-verdeLetra font-bold text-xl">ESTRELLAS</h2>
<div class="mt-4 rounded-md border-gris border-2 flex flex-col items-center h-12 w-32">
    <p class="text-grisLetra text-xs">clasificacion</p>
    <div class="flex flex-row items-ceneter justify-center">
    </div>
</div>
<h2 class="mt-6 text-xl text-verdeLetra font-bold">HASHTAG</h2>
<span class="px-2 text-grisLetra text-sm mt-4 border-2 border-gris rounded-md flex justify-center items-center hover:text-verdeLetra hover:border-verdeLetra hover:cursor-pointer dark:text-white">#NFT(BOEEEE)</span>