<div class="h-4/5 flex flex-col items-end justify-between mr-2">
    <span class="text-verdeClaro font-bold">$55,5</span>
    <div class="flex flex-row items-center">     
        <p class="text-verdeClaro font-bold">4,5</p>
        <img class="h-6 w-6 mb-1 ml-2" id="estrella" src="../Imagenens/Imagenes-funcionales/ESTRELLA.svg" alt="">
    </div>    
</div>
<div class="h-1/5 border-t-2 border-gris flex items-center justify-center text-grisLetra">
    <svg id="Capa_1" class="flex items-center justify-center" data-name="Capa 1" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 75 75">
        <path class="cls-1 h-10 w-10" d="M48.5,54.5l-10.3-5.8-10.3,5.8c-1.2.7-2.7-.2-2.7-1.6v-25.4h26v25.4c0,1.4-1.5,2.3-2.7,1.6Z"/>
      </svg>
    <span class="dark:text-white">#hastash</span>
    <span class="cls-1 ml-2 mr-2 dark:text-white">#sadasda</span>
</div>